.boat-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #ffe0c3;
  margin-bottom: 20px;
}

.card h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

.button {
  text-decoration: none;
  padding: 10px 0; 
  width: 100%; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px; 
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.detail-button, .delete-button, .edit-button, .sailing-button {
  display: block; 
  width: calc(100% - 20px); 
  margin: 8px 10px; 
}

.detail-button:hover, .delete-button:hover, .edit-button:hover, .sailing-button:hover {
  opacity: 0.8;
}

.add-boat-button, .show-colors-button {
  background-color: green; 
  color: white;
  margin-bottom: 20px; 
}

.show-colors-button {
  background-color: purple; 
  margin-bottom: 30px; 
}

.detail-button {
  background-color: blue;
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
}

.edit-button {
  background-color: rgb(1, 98, 77); 
  color: white;
}

.sailing-button {
  background-color: navy; 
  color: white;
}

body {
  background-color: rgb(255, 255, 240); 
}